<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="测试套件">
    <!-- listeners是标注的注解生效-->
    <listeners>
        <listener class-name="com.lemon.Listener.TestFileListener"></listener>
        <listener class-name="com.lemon.Listener.TestRetryListener"></listener>
    </listeners>
<test name="测试">
    <classes>
        <class name="com.lemon.TestCase.LoginCaseTestng2"></class>
        <class name="com.lemon.TestCase.InvestAmountTest"></class>
    </classes>

</test>

</suite>